/*
 * @Author: reber
 * @Mail: reber0ask@qq.com
 * @Date: 2022-01-18 18:16:12
 * @LastEditTime: 2023-03-25 14:18:02
 */

pre {
    padding:0px;border-radius:5px;
    /* white-space:pre-wrap;word-wrap:break-word; */
}
p > img,li > img {
    max-width:99%;height:auto;display:block;
    border: 1px solid #e0dfcc;border-radius: 5px;
    margin:10px 0px;
}
p > code {
    color:#444444;
    text-align:center;
    font-size: 16px;
    background: #FFFFFF;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
f { /*自定义标签，给字体加上颜色，相当于<font color=#c5285c></font>*/
    color:#c5285c;
    text-align:center;
    font-size: 16px;
    background: #FFFFFF;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}