body {color: #777;}

.header {font-family: "Raleway", Helvetica, Arial, sans-serif}

a {color: #3b8bba;text-decoration: none;}
a:hover,
a:focus {text-decoration: underline;}
a:visited {color: #265778;}
a:hover{color:#F66535;}


pre {white-space: pre-wrap;word-wrap: break-word;}

.small-print {
  font-size: 0.8em;
  margin: 0.6em;
}

.post-meta {
  font-size: 90%;
}

article > footer {text-align: right;}

.prev-next-post {
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.prev-next-post .prev {
  float: left;
  text-align: left;
  overflow: hidden;
}

.prev-next-post .next {
  float: right;
  text-align: right;
  overflow: hidden;
}

#menu .brand {
  font-family: Raleway;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-transform: none;
  background: transparent;
  text-decoration: none;
  margin: 0.5em 0;
}

#menu .pure-menu {font-size: 0.9em;}

#main {padding-top:0px;margin:0px auto;width:95%;}

i {display: inline-block;margin-right: 0.2em;}

.pagination {text-align: center;margin-top: 3em;}

.pagination a {color: #265778;}

.footer {
    width:400px;
    height:50px;
    position:absolute;
    top:100%;
    left:50%;
    margin-left:-200px; /* width的一半的相反数 */
    margin-top:-25px;  /* height的一半的相反数 */
    z-index:999;
}

.goToTop{width:20px;height:20px;position:fixed;right:50px;bottom:50px;}


/*******************************************************************/

body, h1, h2, h3, h4, h5, p, dl, dt, dd, form, fieldset, legend, input, textarea, button, th, td {margin:0; padding:0;outline: none;}
/*width: 80%; margin-right: auto; margin-left: auto;*/
.reber{padding-top:10px;margin:0px auto;width:85%;}
.head{height:90px;border-bottom:#EFEFEF 1px solid;}
.main{padding-top:1px;padding-bottom:5px;zoom:1;overflow:hidden;width:99%;}
.foot{height:20px;padding-top:5px;margin-bottom:10px;}

/*head css*/
.logo{float:left;padding:10px 20px;width:140px;height:70px;}
.logo a{width:70px;height:70px;line-height:70px;color:#666;display:block;}
.nav{float:right;padding:0px 10px;}
.nav li{float:left;padding:15px 10px;height:40px;font-size:16px;display:inline;}
.nav li a{padding:0px 10px 0px 10px;line-height:70px;color:#555;}
.nav li a:hover{color:#F66535;}

/*main css*/
.left{float:left;width:70%;padding:15px;}
.content h2{line-height:36px;font-size:22px;}
.content p{line-height:24px;margin-bottom:14px;}

.right{float:right;width:21%;padding-right:10px;}
.right .text{border:#999 1px solid;padding:10px 8px;margin:10px 0px 20px 0px;width:21%;color:#a9a9a9;}
.right ul{padding:0px 0px 5px 0px;}
.right ul li{line-height:25px;}
.right ul li a:hover{color:#F66535;}


/*foot css*/
.copyright{float:left;text-align: center;}
.social{float:right;}

/*当页面小于700px时隐藏logo和right*/
@media screen and (max-width: 700px) {
  .reber{padding-top:0px;margin:0px auto;width:99%;}
  .head{height:30px;border-bottom:#EFEFEF 1px solid;}
  .main{padding-top:1px;padding-bottom:0px;zoom:1;overflow:hidden;width:99%;}

  .logo {display: none;}
  .nav{float:none;padding:0px 10px;text-align:center;}
  .nav li{float:none;text-align:center;padding:5px 0px;height:30px;font-size:16px;display:inline;}
  .nav li a{padding:5px 5px;line-height:20px;color:#555;}
  
  .left{float:none;width:95%;}
  .right {display: none;}
  
  .copyright {display: none;}
  .social{float:none;text-align:center;}
  
  .goToTop{width:30px;height:30px;position:fixed;right:10px;bottom:10px;}
  .goToTop a img{width:30px;height:30px;display:block;}
}


/*文章列表显示不友好，覆盖重写*/
.pure-u-16-24{width:60%;*width:60%;font-size:17px;}
.pure-u-5-24{width:30%;*width:30%;font-size:17px;}

/*main右侧topics和tags格式*/
.asidetitle{font-size:1.3em;color:#2ca6cb;padding:0 0 .3125em 0;border-bottom:.1875em solid #ccc;}


/*******************************************************************/
/*标签云*/
#container {}
#footer {position: relative; height: 70px;clear:both;} 
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix {display: inline-block;}
* html .clearfix { height: 1%;}
.clearfix {display: block;}
#page,#footer_inner{margin:0 auto;width:960px;}
#container{margin:0 auto;padding:40px 0 0;}
#container h2 {font-weight:normal;line-height:28px;}
#container p{padding:10px 0;}
.credit{text-align:center;padding: 20px 0 100px;font-size:10px;}
a:hover{text-decoration:underline;}
#footer{background-color:#212121;width:100%;}
#footer h2{font-size:18px;font-weight:normal;height:70px;line-height:70px;font-family:"Microsoft Yahei";color:#eee;}
#footer_inner{position:relative;}
#footer a.tzine,a.tzine:visited{color:#FCFCFC;font-size:12px;line-height:70px;position:absolute;top:0;right:0;width:90px;}


/**{margin:0;padding:0;}*/
/*h1#logo a{display:block;height:70px;}*/
/*h1#logo{overflow:hidden;height:93px;padding: 25px 0;}*/
/*body{background:#FFFFFF;font:13px/1.3 'Microsoft Yahei','宋体';color:#999;}*/
/*a, a:visited {text-decoration:none;outline:none;color:#97cae6;}*/