body {color: #777;}
body,h1,h2,h4,h5,dl,dt,dd,form,fieldset,legend,input,textarea,button,th,td {margin:5px; padding:0;outline: none;}
h3 {margin:5px; padding:0;outline: none;color:#000000;}
a {color: #3b8bba;text-decoration: none;}
a:hover,a:focus {text-decoration: underline;}
a:visited {color: #265778;}
a:hover{color:#F66535;}
pre {white-space: pre-wrap;word-wrap: break-word;margin:8px 0px 8px 35px;font-size:14px;}
article > footer {text-align: right;}
li p {margin:0px; padding:2px;outline: none;font-size:16px;}
article p {margin:0px 5px 0px 5px;outline: none;font-size:14px;}
blockquote p {margin:0; padding:0;outline: none;}
p {margin:2px; padding:2px;outline: none;margin-left:30px;font-size:14px;}
p img {max-width:99%;height:auto;display:block;border: 0.2em solid #e0dfcc;border-radius: 0.5em;margin:4px 0px;}

.small-print {font-size: 0.8em;margin: 0.6em;}
.post-meta {font-size: 90%;padding-bottom: 0.5em;}
.pagination {text-align: center;margin-top: 3em;}
.prev-next-post {margin-top: 1em;padding-top: 1em;padding-bottom: 1em;border-top: 1px solid #eee;border-bottom: 1px solid #eee;}
.prev-next-post .prev {float: left;text-align: left;overflow: hidden;}
.prev-next-post .next {float: right;text-align: right;overflow: hidden;}
.goToTop{width:20px;height:20px;position:fixed;right:50px;bottom:50px;}


/*******************************************************************/
.reber{padding-top:10px;margin:0px auto;width:85%;}
.head{height:90px;border-bottom:#EFEFEF 1px solid;}
.main{padding-top:0px;padding-bottom:5px;zoom:1;overflow:hidden;width:99%;}
.foot{height:20px;padding-top:5px;margin-bottom:10px;}

/*head css*/
.logo{float:left;padding:10px 20px;width:140px;height:70px;}
.logo a{width:70px;height:70px;line-height:70px;color:#666;display:block;}
.nav{float:right;padding:0px 10px;}
.nav li{float:left;padding:15px 10px;height:40px;font-size:16px;display:inline;}
.nav li a{padding:0px 10px 0px 10px;line-height:70px;color:#555;}
.nav li a:hover{color:#F66535;}

/*main css*/
.left{float:left;width:70%;padding:15px;}
.content h2{line-height:36px;font-size:22px;}

.right{float:right;width:23%;padding-right:10px;}
.right .text{border:#999 1px solid;padding:10px 8px;margin:10px 0px 20px 0px;width:21%;color:#a9a9a9;}
.right ul{padding:0px 0px 5px 0px;}
.right ul li{line-height:25px;}
.right ul li a:hover{color:#F66535;}
.taglist p {margin:0; padding:0;outline: none;}
.content ul {margin: 0px;}
.content ol {margin: 0px;}
.content ol li {margin:0; padding:0px;outline: none;font-size:14px;line-height:25px;}
.content ul li pre {margin:0; padding:0px;outline: none;font-size:14px;}
.content ol li pre {margin:0; padding:0px;outline: none;font-size:14px;}

/*foot css*/
.copyright{float:left;text-align: center;font-size:15px;}
.social{float:right;font-size:15px;}

/*main右侧topics和tags格式*/
.asidetitle{font-size:1.3em;color:#2ca6cb;padding:0 0 .3125em 0;border-bottom:.1875em solid #ccc;}

/*文章列表显示不友好，覆盖重写*/
.pure-u-16-24{width:60%;*width:60%;font-size:17px;}
.pure-u-5-24{width:30%;*width:30%;font-size:17px;}

/*当页面小于700px时隐藏logo和right*/
@media screen and (max-width: 700px) {
  .reber{padding-top:0px;margin:0px auto;width:99%;}
  .head{height:30px;border-bottom:#EFEFEF 1px solid;}
  .main{padding-top:1px;padding-bottom:0px;zoom:1;overflow:hidden;width:99%;}

  .logo {display: none;}
  .nav{float:none;padding:0px 10px;text-align:center;}
  .nav li{float:none;text-align:center;padding:5px 0px;height:30px;font-size:16px;display:inline;}
  .nav li a{padding:5px 5px;line-height:20px;color:#555;}
  
  .left{float:none;width:95%;}
  .pure-u-16-24{width:99%;}
  .pure-u-5-24{display: none;}
  .right {display: none;}
  
  .copyright {display: none;}
  .social{float:none;text-align:center;}
  
  .goToTop{width:30px;height:30px;position:fixed;right:10px;bottom:40px;}
  .goToTop a img{width:30px;height:30px;display:block;}
}


/*******************************************************************/
/*标签云*/
.taglist {margin-top:10px;margin-left:10px;left:10px;line-height:25px;}
.taglist a{display:inline-block;white-space:nowrap;}
a.text1{font-size:32px;color:#0000AA;}
a.text1:hover{color:#0000AA;}
a.text2{font-size:29px;color:#00688B;}
a.text2:hover{color:#00688B;}
a.text3{font-size:26px;color:#008B00;}
a.text3:hover{color:#008B00;}
a.text4{font-size:23px;color:#68228B;}
a.text4:hover{color:#68228B;}
a.text5{font-size:20px;color:#00CD00;}
a.text5:hover{color:#00CD00;}
a.text6{font-size:17px;color:#00F5FF;}
a.text6:hover{color:#00F5FF;}
a.text7{font-size:14px;color:#4D4D4D;}
a.text7:hover{color:#4D4D4D;}
