{{ partial "header.html" . }}

<!-- 显示Posts列表，即所有文章题目 -->

<div class="reber">
    {{ partial "page_head.html" . }}

    <div class="main">
        <div class="left">
            {{ range .Data.Pages.GroupByDate "2006" }}
            <h2>{{ .Key }}</h2>
            <ul>
                {{ range .Pages }}
                    {{ .Render "li" }}
                {{ end }}
            </ul>
            {{ end }}
        </div>
        <div class="right">
            <div>
                <br>
                {{ partial "topics.html" . }}
                {{ partial "tags.html" . }}
                {{ partial "links.html" . }}
                {{ partial "social.html" . }}
            </div>
        </div>
    </div>

    <br><br><br>
    {{ partial "page_foot.html" . }}
</div>

{{ partial "footer.html" . }}
