<!--
 * @Author: reber
 * @Mail: reber0ask@qq.com
 * @Date: 2019-04-10 10:45:01
 * @LastEditTime: 2019-06-18 15:50:52
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if .IsHome }}Reber's Blog - 渗透测试|python|php {{ else }}{{ .Title }} - Reber's Blog{{ end }}</title>
    <meta name="keywords" content="渗透测试,web安全,漏洞,python,php,linux">
    <meta name="description" content="{{ if .IsNode }}{{ with .Site.Params.Description }}{{ . }}{{ end }}{{ else }}{{ with .Description }}{{ . }}{{ end }}{{ end }}">
    <meta name="author" content="{{ .Site.Params.Author }}">
    <link rel="stylesheet" type="text/css" href="{{ "css/pure-min.css" | relURL }}">
    {{ "<!--[if lte IE 8]>" | safeHTML }}
    <link rel="stylesheet" type="text/css" href="/css/grids-responsive-old-ie-min.css">
    {{ "<![endif]-->" | safeHTML }}
    {{ "<!--[if gt IE 8]><!-->" | safeHTML }}
    <link rel="stylesheet" type="text/css" href="{{ "css/grids-responsive-min.css" | relURL }}">
    {{ "<!--<![endif]-->" | safeHTML }}
    <link rel="stylesheet" type="text/css" href="{{ "css/r.css" | relURL }}">
    <link rel="stylesheet" type="text/css" href="{{ "css/font-awesome.min.css" | relURL }}"><!-- Home/Archive/Links/About Icons -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ "img/favicon.ico" | relURL }}" /><!-- Icon透明图片 -->
    <link rel="alternate" type="application/rss+xml" title="{{ .Site.Params.Title }}" href="/index.xml" />
    <link rel="stylesheet" href="{{ "css/monokai-sublime.css" | relURL }}" type="text/css">
    <script src="{{ "js/highlight.min.js" | relURL }}"></script>
    <script>hljs.highlightAll();</script>
    <script src="{{ "js/jquery.min.js" | relURL }}"></script>
</head>
<body>