<!--
 * @Author: reber
 * @Mail: reber0ask@qq.com
 * @Date: 2019-04-10 10:45:01
 * @LastEditTime: 2021-11-19 17:17:06
 -->

<div style="padding-bottom:10px;">
    <h2 class="asidetitle">Links</h2>
    <ul style="margin-left:10px;margin-bottom:0px;left:10px;">
        {{ if .Site.Params.Links }}
            {{ range $i, $e := .Site.Params.Links }}
                {{ if $i }} {{ end }}
                <li style="list-style-type:none;">
                    <i class="fa fa-link fa-fw"></i><a href="{{ .url }}" target="_blank">{{ .name }}</a>
                </li>
            {{ end }}
        {{ end }}
    </ul>
</div>
