<!-- 显示标签 -->

<div style="padding-bottom:10px;">
{{ if isset .Site.Taxonomies "tags" }}
{{ if not (eq (len .Site.Taxonomies.tags) 0) }}
    <h2 class="asidetitle">Tags</h2>
    <div class="taglist" id="tags">
        {{ range $name, $items := .Site.Taxonomies.tags }}
            <p style="display:inline-block;">
                <a href="{{ $.Site.BaseURL }}/tags/{{ $name | urlize | lower }}" title="{{ $name }}">{{ $name }}</a>
                <sup>{{ len $items }}</sup>
            </p>
        {{ end }}
    </div>
{{ end }}
{{ end }}
</div>
