    <!-- 设置回到顶部按钮 -->
    <div style="width:20px;height:20px;position:fixed;right:50px;bottom:50px;">
      <a href="#top" id="goToTop">
        <img src="{{ .Site.BaseURL }}/img/goto_top.png" alt="可以返回顶部" title="回到顶部"  style="display:block;" />
      </a>
    </div>

    <script type="text/javascript">
    $.fn.goToTop = function () {
        if ($(window).scrollTop()<400) {
            $('#goToTop').hide(); //滚动条距离顶端的距离小于showDistance是隐藏goToTop按钮
        }
        $(window).scroll(function () {
            if ($(this).scrollTop()>400) {
                $('#goToTop').fadeIn();
            } else {
                $('#goToTop').fadeOut();
            }
        });
        this.click(function () {
            $('html,body').animate({scrollTop:0},800);
            return false;
        });
    }

    $(document).ready(function () {
        $('#goToTop').goToTop();
    });
    </script>

    <script src="{{ .Site.BaseURL }}/js/ui.js"></script>

</body>
</html>