
<div style="padding-bottom:20px;">
    <h2 class="asidetitle">{{ .Site.Params.Strings.Links }}</h2>
    <ul style="margin-left:10px;margin-bottom:0px;left:10px;">
        <li style="list-style-type:none;">
            <a href="http://www.test404.com/" target="_blank">Test404's Blog</a>
        </li>
        <li style="list-style-type:none;">
            <a href="http://zksmile.me/" target="_blank">Zksmile's Blog</a>
        </li>
        <li style="list-style-type:none;">
            <a href="http://www.y-hkl.top/" target="_blank">Y-HKL's Blog</a>
        </li>
        <li style="list-style-type:none;">
            <a href="http://s.yl0.org/" target="_blank">yaalon's Blog</a>
        </li>
    </ul>
</div>