
<div class="foot">
    <div class="copyright">
        <!-- Copyright -->
        Copyright &copy; 2015-<script>var d=new Date();document.write(d.getFullYear());</script> Reber. All Rights Reserved.
        <!-- {{ .Site.Params.Copyright | safeHTML }} -->

        <!-- 站点统计 -->
        <script type="text/javascript" src="//js.users.51.la/19363536.js"></script>
        <a href="https://www.51.la/?19363536" target="_blank" title="51.La 网站流量统计系统">网站统计</a>
        <!-- <script type="text/javascript" src="//quote.users.51.la/?id=19363536&mb=3"></script> -->
        <script type="text/javascript" src="//quote.51.la/q?id=19363536&mb=1"></script>
    </div>
    <script>$('.copyright img').remove();</script>
</div>