
<div class="head">
    <h1 class="logo" id="logo">
        <a href="/">{{ .Site.Params.Logo | safeHTML }}</a>
    </h1>
    <ul class="nav">
        {{ range .Site.Menus.Main }}
            {{ if .HasChildren }}
                <li>
                    <a href="/">{{ .Pre }}{{ .Name }}</a>
                    <ul>
                        {{ range .Children }}
                        <li>
                            <a href="{{ .URL }}">{{ .Name }}</a>
                        </li>
                        {{ end }}
                    </ul>
            {{else}}
                <li>
                    <a href="{{ .URL }}">{{ .Pre }}{{ .Name }}</a>
            {{end}}
                </li>
        {{end}}
    </ul>
</div>
