
<div class="foot">
    <div class="copyright">
        <!-- Copyright -->
        {{ .Site.Params.Copyright | safeHTML }}

        <!-- 站点统计 -->
        <noscript>
            <a href="//www.51.la/?19363080" target="_blank">
                <img alt="&amp;#x6211;&amp;#x8981;&amp;#x5566;&amp;#x514D;&amp;#x8D39;&amp;#x7EDF;&amp;#x8BA1;" src="//img.users.51.la/19363080.asp" style="border:none" />
            </a>
        </noscript>
        <script language="javascript" type="text/javascript" src="//quote.users.51.la/?id=19363080&amp;mb=3"></script>
        <a target="_blank" class="Ajiang" href="http://www.51.la/?19363080"></a>
    </div>
    <div class="social">
        <!-- social -->
        {{ with .Site.Params.Social.GitHub }}
            <a href="https://github.com/{{ . }}" target="_blank"><i class="fa fa-github-square fa-fw"></i>GitHub</a>
        {{ end }}
        &nbsp;&nbsp;
        {{ with .Site.Params.Social.WeiboID }}
            <a href="http://weibo.com/u/{{ . }}" target="_blank"><i class="fa fa-weibo fa-fw"></i>Weibo</a>
        {{ end }}
        &nbsp;&nbsp;
        <a href="{{ .Site.BaseURL }}/index.xml" target="_blank"><i class="fa fa-rss fa-fw"></i>RSS</a>
    </div>
</div>