
<div class="main">
    <div class="left">
        <div class="content">
            {{ range ( .Paginate (where .Data.Pages "Type" "posts")).Pages }}
                {{ .Render "summary"}}
            {{ end }}

            {{ partial "pagination.html" . }}
        </div>
    </div>
    <div class="right">
        <div style="margin-top:10px;">
            {{ partial "topics.html" . }}
            {{ partial "tags.html" . }}
            {{ partial "links.html" . }}
        </div>
    </div>
</div>