{{ if or (.Prev) (.Next) }}
<div class="prev-next-post pure-g">
    <div class="pure-u-12-24" style="text-align: left;">
        {{ if .PrevInSection }}
        <nav class="prev">
            <a href="{{ .PrevInSection.Permalink }}">
                <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;&nbsp;{{ .PrevInSection.Title }}
            </a>
        </nav>
        {{ end }}
    </div>
    <div class="pure-u-12-24" style="text-align: right;">
        {{ if .NextInSection }}
        <nav class="next">
            <a href="{{ .NextInSection.Permalink }}">
                {{ .NextInSection.Title }}&nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-right"></i>
            </a>
        </nav>
        {{ end }}
    </div>
</div>
{{ end }}