<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{{ .Description }}"/>
  <meta name="author" content="{{ .Site.Params.author }}"/>
  {{ if (eq .Title .Site.Title) }}
    {{ with $title := .Title }}
      <title>{{ . }}</title>
    {{ end }}
  {{ else }}
    {{ with $title := printf "%s | %s" .Title .Site.Title }}
      <title>{{ . }}</title>
    {{ end }}
  {{ end }}
  <link rel="stylesheet" href="{{ "css/reset.css" | relURL }}"/>
  <link rel="stylesheet" href="{{ "css/font.css" | relURL }}"/>
  <link rel="stylesheet" href="{{ "css/smigle.css" | relURL }}"/>
  {{ range .Site.Params.customStylesheets }}
    <link rel="stylesheet" href="{{ . | relURL }}"/>
  {{ end }}
  {{ range .Site.Params.customJavaScripts }}
    <script src="{{ . | relURL }}"/></script>
  {{ end }}
  <link rel="icon" type="image/img" sizes="16x16" href="{{ .Site.Params.brandIconFile | relURL }}">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>
