<!--
 * @Author: reber
 * @Mail: reber0ask@qq.com
 * @Date: 2021-09-01 02:52:08
 * @LastEditTime: 2022-06-01 10:57:02
-->
<div class="post-meta">
    <time>{{ .Date.Format (default "2006-01-02 15:04:05" .Site.Params.dateFmt) }}</time>
    [{{ range $key, $value := .Params.categories -}}{{- if $key }}, {{ end }}<a href="{{ "/categories/" | relLangURL }}{{ $value | urlize }}">{{ . }}</a>{{- end }}]{{ with .Params.tags }}({{ range $key, $value := . }}{{- if $key }},{{ end }}<a href="{{ "/tags/" | relLangURL }}{{ $value | urlize }}">{{ . }}</a>{{- end }}){{ end }}
</div>
